In [1]:
import pandas as pd
import json

# pororo 라벨링, 1차 단어사전 만들기

In [ ]:
%%writefile naver_pickle.py
import pandas as pd
import json
from pororo import Pororo
import os
from tqdm import tqdm

s_nm = Pororo(task = 'sentiment',model = 'brainbert.base.ko.nsmc', lang = 'ko')
s_sh = Pororo(task = 'sentiment', model = 'brainbert.base.ko.shopping', lang = 'ko')

for f in os.listdir('Naver종토방')[1:]:
  NAVER = pd.DataFrame(columns = ['_id', 'code', 'date', 'title', 'views', 'pos', 'neg', 'nsmc', 'shop'])
  if f.endswith('json'):
    print(f)
    for line in tqdm(open('Naver종토방/'+ f, 'r', encoding = 'utf8').readlines()):
      j = json.loads(line)
      nm_sa = s_nm(j['title'], show_probs = True)['positive']
      sh_sa = s_sh(j['title'], show_probs = True)['positive']
      j.update(nsmc = nm_sa, shop = sh_sa),
      NAVER = NAVER.append(j, ignore_index = True)
      NAVER.to_pickle(f"./naver_all_{f}.pkl")

  # pd.read_pickle('./naver_all.pkl').append(pd.read_pickle('./naver_all2.pkl'), ignore_index= True).to_pickle('./naver_all.pkl')

In [ ]:
%%writefile dc_pickle.py
import pandas as pd
import json
from pororo import Pororo
import os
from tqdm import tqdm

s_nm = Pororo(task = 'sentiment',model = 'brainbert.base.ko.nsmc', lang = 'ko')
s_sh = Pororo(task = 'sentiment', model = 'brainbert.base.ko.shopping', lang = 'ko')

for f in os.listdir('DC갤러리'):
  DC = pd.DataFrame(columns = ['_id', 'code', 'date', 'title', 'views', 'pos', 'neg', 'nsmc', 'shop'])
  if f.endswith('json'):
    print(f)
    for line in tqdm(open('DC갤러리/'+ f, 'r', encoding = 'utf8').readlines()):
      j = json.loads(line)
      nm_sa = s_nm(j['title'], show_probs = True)['positive']
      sh_sa = s_sh(j['title'], show_probs = True)['positive']
      j.update(nsmc = nm_sa, shop = sh_sa)
      DC = DC.append(j, ignore_index = True)
      DC.to_pickle(f"./dc_all_{f}.pkl")

In [ ]:
# 백그라운드로 파일 실행
# !nohup /usr/bin/python3 naver_pickle.py > naver.log 2>&1 &
# !nohup /usr/bin/python3 dc_pickle.py > dc.log 2>&1 &

# log 확인
# !tail -f naver.log
# !tail -f dc.log

In [2]:
NAVER = pd.read_pickle('./naver_all.pkl')
NAVER.head()

,_id,code,date,title,views,pos,neg,nsmc,shop
0,{'$oid': '61886de6bdfa455b98338f62'},008770,2021.11.08 09:22,개미털기 각입니다,4,1,0,0.014268,0.030229
1,{'$oid': '61886de6bdfa455b98338f63'},008770,2021.11.08 09:22,얘들야 이러다 다죽어,2,0,0,0.025835,0.094668
2,{'$oid': '61886de6bdfa455b98338f64'},008770,2021.11.08 09:22,종합지수가,3,0,0,0.167821,0.145982
3,{'$oid': '61886de6bdfa455b98338f65'},008770,2021.11.08 09:21,일단 차익실현,10,0,0,0.023304,0.214951
4,{'$oid': '61886de6bdfa455b98338f66'},008770,2021.11.08 09:19,공매들 매도에서 매수로 손 바뀜 이 일어 낫네요.,34,1,0,0.005306,0.025457

In [3]:
# 중복 제거
NAVER.drop_duplicates(subset = ['code', 'title'], inplace=True, ignore_index= True)
# NAVER[NAVER.duplicated(['code', 'title'])]

In [4]:
NAVER['positive'] = (NAVER['nsmc'] + NAVER.shop) / 2
NAVER.head()

,_id,code,date,title,views,pos,neg,nsmc,shop,positive
0,{'$oid': '61886de6bdfa455b98338f62'},008770,2021.11.08 09:22,개미털기 각입니다,4,1,0,0.014268,0.030229,0.022248
1,{'$oid': '61886de6bdfa455b98338f63'},008770,2021.11.08 09:22,얘들야 이러다 다죽어,2,0,0,0.025835,0.094668,0.060252
2,{'$oid': '61886de6bdfa455b98338f64'},008770,2021.11.08 09:22,종합지수가,3,0,0,0.167821,0.145982,0.156901
3,{'$oid': '61886de6bdfa455b98338f65'},008770,2021.11.08 09:21,일단 차익실현,10,0,0,0.023304,0.214951,0.119127
4,{'$oid': '61886de6bdfa455b98338f66'},008770,2021.11.08 09:19,공매들 매도에서 매수로 손 바뀜 이 일어 낫네요.,34,1,0,0.005306,0.025457,0.015382

In [5]:
from konlpy.tag import Okt, Hannanum#, Kkma, Mecab
han = Hannanum()
okt = Okt()
# kkma = Kkma()
# mecab = Mecab()

In [ ]:
han.tagset

In [ ]:
okt.tagset

In [8]:
# NAVER['okt'] = NAVER.title.apply(lambda x: okt.pos(x)[0])
# NAVER['kkma'] = NAVER.title.apply(lambda x: kkma.pos(x))

NameError: name 'x' is not defined

In [7]:
NAVER

,_id,code,date,title,views,pos,neg,nsmc,shop,positive,hannanum,okt
0,{'$oid': '61886de6bdfa455b98338f62'},008770,2021.11.08 09:22,개미털기 각입니다,4,1,0,0.014268,0.030229,0.022248,"(개미털기, N)","(개미, Noun)"
1,{'$oid': '61886de6bdfa455b98338f63'},008770,2021.11.08 09:22,얘들야 이러다 다죽어,2,0,0,0.025835,0.094668,0.060252,"(얘들, N)","(얘, Noun)"
2,{'$oid': '61886de6bdfa455b98338f64'},008770,2021.11.08 09:22,종합지수가,3,0,0,0.167821,0.145982,0.156901,"(종합지수, N)","(종합, Noun)"
3,{'$oid': '61886de6bdfa455b98338f65'},008770,2021.11.08 09:21,일단 차익실현,10,0,0,0.023304,0.214951,0.119127,"(일단, N)","(일단, Noun)"
4,{'$oid': '61886de6bdfa455b98338f66'},008770,2021.11.08 09:19,공매들 매도에서 매수로 손 바뀜 이 일어 낫네요.,34,1,0,0.005306,0.025457,0.015382,"(공매들, N)","(공매, Noun)"
...,...,...,...,...,...,...,...,...,...,...,...,...
130414,{'$oid': '618a1d1abb44251ab7a6bb4c'},069410,2021.11.08 13:41,"국토부, 5년간 지역거점 스마트시티 16곳 지정…최대 240억 지원",288,2,0,0.849906,0.309826,0.579866,"(국토부, N)","(국토부, Noun)"
130415,{'$oid': '618a1d1abb44251ab7a6bb4d'},069410,2021.11.08 12:02,엔텔스. 이미 실적은 다 알려졌고 반짝 후에 또 하락세.,318,1,5,0.002105,0.012984,0.007544,"(엔텔스, N)","(엔텔스, Noun)"
130416,{'$oid': '618a1d1abb44251ab7a6bb4f'},069410,2021.11.08 11:46,팔지들 마러요,200,3,4,0.073953,0.163953,0.118953,"(팔지들, N)","(팔지, Noun)"
130417,{'$oid': '618a1d1abb44251ab7a6bb50'},069410,2021.11.08 09:45,8거래일 12% 연속 하락,166,2,1,0.002040,0.010157,0.006098,"(8거래, N)","(8, Number)"
130418,{'$oid': '618a1d1abb44251ab7a6bb51'},069410,2021.11.08 09:40,꼬라지를 보니,187,2,1,0.149811,0.056644,0.103228,"(꼬라지, N)","(꼬, Noun)"

In [ ]:
NAVER.okt.iloc[130417]

In [9]:
# 한나눔 N(체언), P(용언)
NAVER['hannanum'] = NAVER.title.apply(lambda x: [w for w, t in han.pos(x) if t in 'NP'])

In [10]:
NAVER

,_id,code,date,title,views,pos,neg,nsmc,shop,positive,hannanum,okt
0,{'$oid': '61886de6bdfa455b98338f62'},008770,2021.11.08 09:22,개미털기 각입니다,4,1,0,0.014268,0.030229,0.022248,"[개미털기, 각]","(개미, Noun)"
1,{'$oid': '61886de6bdfa455b98338f63'},008770,2021.11.08 09:22,얘들야 이러다 다죽어,2,0,0,0.025835,0.094668,0.060252,"[얘들, 이르, 다죽어]","(얘, Noun)"
2,{'$oid': '61886de6bdfa455b98338f64'},008770,2021.11.08 09:22,종합지수가,3,0,0,0.167821,0.145982,0.156901,[종합지수],"(종합, Noun)"
3,{'$oid': '61886de6bdfa455b98338f65'},008770,2021.11.08 09:21,일단 차익실현,10,0,0,0.023304,0.214951,0.119127,"[일단, 차익실현]","(일단, Noun)"
4,{'$oid': '61886de6bdfa455b98338f66'},008770,2021.11.08 09:19,공매들 매도에서 매수로 손 바뀜 이 일어 낫네요.,34,1,0,0.005306,0.025457,0.015382,"[공매들, 매도, 매수, 손, 바뀌, 일, 낫]","(공매, Noun)"
...,...,...,...,...,...,...,...,...,...,...,...,...
130414,{'$oid': '618a1d1abb44251ab7a6bb4c'},069410,2021.11.08 13:41,"국토부, 5년간 지역거점 스마트시티 16곳 지정…최대 240억 지원",288,2,0,0.849906,0.309826,0.579866,"[국토부, 5년, 지역거점, 스마트시티, 16곳, 지정…최대, 240억, 지원]","(국토부, Noun)"
130415,{'$oid': '618a1d1abb44251ab7a6bb4d'},069410,2021.11.08 12:02,엔텔스. 이미 실적은 다 알려졌고 반짝 후에 또 하락세.,318,1,5,0.002105,0.012984,0.007544,"[엔텔스, 실적, 알리, 지, 후, 하락세]","(엔텔스, Noun)"
130416,{'$oid': '618a1d1abb44251ab7a6bb4f'},069410,2021.11.08 11:46,팔지들 마러요,200,3,4,0.073953,0.163953,0.118953,"[팔지들, 마르]","(팔지, Noun)"
130417,{'$oid': '618a1d1abb44251ab7a6bb50'},069410,2021.11.08 09:45,8거래일 12% 연속 하락,166,2,1,0.002040,0.010157,0.006098,"[8거래, 12, 연속, 하락]","(8, Number)"
130418,{'$oid': '618a1d1abb44251ab7a6bb51'},069410,2021.11.08 09:40,꼬라지를 보니,187,2,1,0.149811,0.056644,0.103228,"[꼬라지, 보]","(꼬, Noun)"

In [11]:
codes = {'336260', '009830'}