In [256]:
import pandas as pd
import json
import re
from string import punctuation
from konlpy.tag import Mecab
import datetime
import pickle
from tqdm import tqdm
import warnings
warnings.filterwarnings(action='ignore')
# mecab = Mecab()

In [2]:
TIME_MAPPING = {}
TIME_MAPPING[0] = (datetime.datetime(1, 1, 1, 16, 00), datetime.datetime(1, 1, 2, 8, 59)) # 하루 전 조건 넣어줘야함
i = 1
START = datetime.datetime(1,1,2,9,0)

s = START
while s.strftime('%H:%M') < "16:00":
    e = s + datetime.timedelta(minutes = 4)
    TIME_MAPPING[i] = (s, e)

    s += datetime.timedelta(minutes=5)
    i += 1
# TIME_MAPPING[len(TIME_MAPPING)] = (s, )

In [3]:
# len(TIME_MAPPING)
# TIME_MAPPING[86]
TIME_MAPPING
# s

{0: (datetime.datetime(1, 1, 1, 16, 0), datetime.datetime(1, 1, 2, 8, 59)),
 1: (datetime.datetime(1, 1, 2, 9, 0), datetime.datetime(1, 1, 2, 9, 4)),
 2: (datetime.datetime(1, 1, 2, 9, 5), datetime.datetime(1, 1, 2, 9, 9)),
 3: (datetime.datetime(1, 1, 2, 9, 10), datetime.datetime(1, 1, 2, 9, 14)),
 4: (datetime.datetime(1, 1, 2, 9, 15), datetime.datetime(1, 1, 2, 9, 19)),
 5: (datetime.datetime(1, 1, 2, 9, 20), datetime.datetime(1, 1, 2, 9, 24)),
 6: (datetime.datetime(1, 1, 2, 9, 25), datetime.datetime(1, 1, 2, 9, 29)),
 7: (datetime.datetime(1, 1, 2, 9, 30), datetime.datetime(1, 1, 2, 9, 34)),
 8: (datetime.datetime(1, 1, 2, 9, 35), datetime.datetime(1, 1, 2, 9, 39)),
 9: (datetime.datetime(1, 1, 2, 9, 40), datetime.datetime(1, 1, 2, 9, 44)),
 10: (datetime.datetime(1, 1, 2, 9, 45), datetime.datetime(1, 1, 2, 9, 49)),
 11: (datetime.datetime(1, 1, 2, 9, 50), datetime.datetime(1, 1, 2, 9, 54)),
 12: (datetime.datetime(1, 1, 2, 9, 55), datetime.datetime(1, 1, 2, 9, 59)),
 13: (datetime.datetime(1, 1, 2, 10, 0), datetime.datetime(1, 1, 2, 10, 4)),
 14: (datetime.datetime(1, 1, 2, 10, 5), datetime.datetime(1, 1, 2, 10, 9)),
 15: (datetime.datetime(1, 1, 2, 10, 10), datetime.datetime(1, 1, 2, 10, 14)),
 16: (datetime.datetime(1, 1, 2, 10, 15), datetime.datetime(1, 1, 2, 10, 19)),
 17: (datetime.datetime(1, 1, 2, 10, 20), datetime.datetime(1, 1, 2, 10, 24)),
 18: (datetime.datetime(1, 1, 2, 10, 25), datetime.datetime(1, 1, 2, 10, 29)),
 19: (datetime.datetime(1, 1, 2, 10, 30), datetime.datetime(1, 1, 2, 10, 34)),
 20: (datetime.datetime(1, 1, 2, 10, 35), datetime.datetime(1, 1, 2, 10, 39)),
 21: (datetime.datetime(1, 1, 2, 10, 40), datetime.datetime(1, 1, 2, 10, 44)),
 22: (datetime.datetime(1, 1, 2, 10, 45), datetime.datetime(1, 1, 2, 10, 49)),
 23: (datetime.datetime(1, 1, 2, 10, 50), datetime.datetime(1, 1, 2, 10, 54)),
 24: (datetime.datetime(1, 1, 2, 10, 55), datetime.datetime(1, 1, 2, 10, 59)),
 25: (datetime.datetime(1, 1, 2, 11, 0), datetime.datetime(1, 1, 2, 11, 4)),
 26: (datetime.datetime(1, 1, 2, 11, 5), datetime.datetime(1, 1, 2, 11, 9)),
 27: (datetime.datetime(1, 1, 2, 11, 10), datetime.datetime(1, 1, 2, 11, 14)),
 28: (datetime.datetime(1, 1, 2, 11, 15), datetime.datetime(1, 1, 2, 11, 19)),
 29: (datetime.datetime(1, 1, 2, 11, 20), datetime.datetime(1, 1, 2, 11, 24)),
 30: (datetime.datetime(1, 1, 2, 11, 25), datetime.datetime(1, 1, 2, 11, 29)),
 31: (datetime.datetime(1, 1, 2, 11, 30), datetime.datetime(1, 1, 2, 11, 34)),
 32: (datetime.datetime(1, 1, 2, 11, 35), datetime.datetime(1, 1, 2, 11, 39)),
 33: (datetime.datetime(1, 1, 2, 11, 40), datetime.datetime(1, 1, 2, 11, 44)),
 34: (datetime.datetime(1, 1, 2, 11, 45), datetime.datetime(1, 1, 2, 11, 49)),
 35: (datetime.datetime(1, 1, 2, 11, 50), datetime.datetime(1, 1, 2, 11, 54)),
 36: (datetime.datetime(1, 1, 2, 11, 55), datetime.datetime(1, 1, 2, 11, 59)),
 37: (datetime.datetime(1, 1, 2, 12, 0), datetime.datetime(1, 1, 2, 12, 4)),
 38: (datetime.datetime(1, 1, 2, 12, 5), datetime.datetime(1, 1, 2, 12, 9)),
 39: (datetime.datetime(1, 1, 2, 12, 10), datetime.datetime(1, 1, 2, 12, 14)),
 40: (datetime.datetime(1, 1, 2, 12, 15), datetime.datetime(1, 1, 2, 12, 19)),
 41: (datetime.datetime(1, 1, 2, 12, 20), datetime.datetime(1, 1, 2, 12, 24)),
 42: (datetime.datetime(1, 1, 2, 12, 25), datetime.datetime(1, 1, 2, 12, 29)),
 43: (datetime.datetime(1, 1, 2, 12, 30), datetime.datetime(1, 1, 2, 12, 34)),
 44: (datetime.datetime(1, 1, 2, 12, 35), datetime.datetime(1, 1, 2, 12, 39)),
 45: (datetime.datetime(1, 1, 2, 12, 40), datetime.datetime(1, 1, 2, 12, 44)),
 46: (datetime.datetime(1, 1, 2, 12, 45), datetime.datetime(1, 1, 2, 12, 49)),
 47: (datetime.datetime(1, 1, 2, 12, 50), datetime.datetime(1, 1, 2, 12, 54)),
 48: (datetime.datetime(1, 1, 2, 12, 55), datetime.datetime(1, 1, 2, 12, 59)),
 49: (datetime.datetime(1, 1, 2, 13, 0), datetime.datetime(1, 1, 2, 13, 4)),
 50: (datetime.datetime(1, 1, 2, 13, 5), datetime.datetime(1, 1, 2, 13, 9)),
 51: (datetime.datetime(1, 1, 2, 13, 10), datetime.datetime(1, 1, 2, 13, 14)),
 52: (datetime.datetime(1, 1, 2, 13, 15), datetime.datetime(1, 1, 2, 13, 19)),
 53: (datetime.datetime(1, 1, 2, 13, 20), datetime.datetime(1, 1, 2, 13, 24)),
 54: (datetime.datetime(1, 1, 2, 13, 25), datetime.datetime(1, 1, 2, 13, 29)),
 55: (datetime.datetime(1, 1, 2, 13, 30), datetime.datetime(1, 1, 2, 13, 34)),
 56: (datetime.datetime(1, 1, 2, 13, 35), datetime.datetime(1, 1, 2, 13, 39)),
 57: (datetime.datetime(1, 1, 2, 13, 40), datetime.datetime(1, 1, 2, 13, 44)),
 58: (datetime.datetime(1, 1, 2, 13, 45), datetime.datetime(1, 1, 2, 13, 49)),
 59: (datetime.datetime(1, 1, 2, 13, 50), datetime.datetime(1, 1, 2, 13, 54)),
 60: (datetime.datetime(1, 1, 2, 13, 55), datetime.datetime(1, 1, 2, 13, 59)),
 61: (datetime.datetime(1, 1, 2, 14, 0), datetime.datetime(1, 1, 2, 14, 4)),
 62: (datetime.datetime(1, 1, 2, 14, 5), datetime.datetime(1, 1, 2, 14, 9)),
 63: (datetime.datetime(1, 1, 2, 14, 10), datetime.datetime(1, 1, 2, 14, 14)),
 64: (datetime.datetime(1, 1, 2, 14, 15), datetime.datetime(1, 1, 2, 14, 19)),
 65: (datetime.datetime(1, 1, 2, 14, 20), datetime.datetime(1, 1, 2, 14, 24)),
 66: (datetime.datetime(1, 1, 2, 14, 25), datetime.datetime(1, 1, 2, 14, 29)),
 67: (datetime.datetime(1, 1, 2, 14, 30), datetime.datetime(1, 1, 2, 14, 34)),
 68: (datetime.datetime(1, 1, 2, 14, 35), datetime.datetime(1, 1, 2, 14, 39)),
 69: (datetime.datetime(1, 1, 2, 14, 40), datetime.datetime(1, 1, 2, 14, 44)),
 70: (datetime.datetime(1, 1, 2, 14, 45), datetime.datetime(1, 1, 2, 14, 49)),
 71: (datetime.datetime(1, 1, 2, 14, 50), datetime.datetime(1, 1, 2, 14, 54)),
 72: (datetime.datetime(1, 1, 2, 14, 55), datetime.datetime(1, 1, 2, 14, 59)),
 73: (datetime.datetime(1, 1, 2, 15, 0), datetime.datetime(1, 1, 2, 15, 4)),
 74: (datetime.datetime(1, 1, 2, 15, 5), datetime.datetime(1, 1, 2, 15, 9)),
 75: (datetime.datetime(1, 1, 2, 15, 10), datetime.datetime(1, 1, 2, 15, 14)),
 76: (datetime.datetime(1, 1, 2, 15, 15), datetime.datetime(1, 1, 2, 15, 19)),
 77: (datetime.datetime(1, 1, 2, 15, 20), datetime.datetime(1, 1, 2, 15, 24)),
 78: (datetime.datetime(1, 1, 2, 15, 25), datetime.datetime(1, 1, 2, 15, 29)),
 79: (datetime.datetime(1, 1, 2, 15, 30), datetime.datetime(1, 1, 2, 15, 34)),
 80: (datetime.datetime(1, 1, 2, 15, 35), datetime.datetime(1, 1, 2, 15, 39)),
 81: (datetime.datetime(1, 1, 2, 15, 40), datetime.datetime(1, 1, 2, 15, 44)),
 82: (datetime.datetime(1, 1, 2, 15, 45), datetime.datetime(1, 1, 2, 15, 49)),
 83: (datetime.datetime(1, 1, 2, 15, 50), datetime.datetime(1, 1, 2, 15, 54)),
 84: (datetime.datetime(1, 1, 2, 15, 55), datetime.datetime(1, 1, 2, 15, 59))}

# pororo 라벨링, 1차 단어사전 만들기

In [ ]:
%%writefile naver_pickle.py
import pandas as pd
import json
from pororo import Pororo
import os
from tqdm import tqdm

s_nm = Pororo(task = 'sentiment',model = 'brainbert.base.ko.nsmc', lang = 'ko')
s_sh = Pororo(task = 'sentiment', model = 'brainbert.base.ko.shopping', lang = 'ko')

for f in os.listdir('Naver종토방')[1:]:
  NAVER = pd.DataFrame(columns = ['_id', 'code', 'date', 'title', 'views', 'pos', 'neg', 'nsmc', 'shop'])
  if f.endswith('json'):
    print(f)
    for line in tqdm(open('Naver종토방/'+ f, 'r', encoding = 'utf8').readlines()):
      j = json.loads(line)
      nm_sa = s_nm(j['title'], show_probs = True)['positive']
      sh_sa = s_sh(j['title'], show_probs = True)['positive']
      j.update(nsmc = nm_sa, shop = sh_sa),
      NAVER = NAVER.append(j, ignore_index = True)
      NAVER.to_pickle(f"./naver_all_{f}.pkl")

  # pd.read_pickle('./naver_all.pkl').append(pd.read_pickle('./naver_all2.pkl'), ignore_index= True).to_pickle('./naver_all.pkl')

In [ ]:
%%writefile dc_pickle.py
import pandas as pd
import json
from pororo import Pororo
import os
from tqdm import tqdm

s_nm = Pororo(task = 'sentiment',model = 'brainbert.base.ko.nsmc', lang = 'ko')
s_sh = Pororo(task = 'sentiment', model = 'brainbert.base.ko.shopping', lang = 'ko')

for f in os.listdir('DC갤러리'):
  DC = pd.DataFrame(columns = ['_id', 'code', 'date', 'title', 'views', 'pos', 'neg', 'nsmc', 'shop'])
  if f.endswith('json'):
    print(f)
    for line in tqdm(open('DC갤러리/'+ f, 'r', encoding = 'utf8').readlines()):
      j = json.loads(line)
      nm_sa = s_nm(j['title'], show_probs = True)['positive']
      sh_sa = s_sh(j['title'], show_probs = True)['positive']
      j.update(nsmc = nm_sa, shop = sh_sa)
      DC = DC.append(j, ignore_index = True)
      DC.to_pickle(f"./dc_all_{f}.pkl")

In [ ]:
# 백그라운드로 파일 실행
# !nohup /usr/bin/python3 naver_pickle.py > naver.log 2>&1 &
# !nohup /usr/bin/python3 dc_pickle.py > dc.log 2>&1 &

# log 확인
# !tail -f naver.log
# !tail -f dc.log

# 감성사전 만들기

mecab 체ㄴ, 용ㅓ, 감탄ㅏ(확ㅣ), (관형ㅏ)
{토큰 : 감ㅓ확률, 토ㄴ: 감ㅓ확률}

In [ ]:
mecab.tagset

In [5]:
def data_preprocessing(pkl : str):
  df = pd.read_pickle(pkl)
  types = {i : 'int16' for i in df.columns if i not in ['_id', 'code', 'date', 'title', 'nsmc', 'shop']}
  df = df.astype(dtype = types)
  df.date = pd.to_datetime(df.date)
  # 중복 제거
  df.drop_duplicates(subset = ['code', 'title'], inplace=True, ignore_index= True)
  df['positive'] = (df.nsmc + df.shop) / 2
  # 전처리
  # Stopwords 처리
  pattern1 = re.compile(r'[{}]'.format(re.escape(punctuation)))  # punctuation 제거
  pattern2 = re.compile(r'[^가-힣! ]')  # 특수문자, 자음, 모음, 숫자, 영어 제거
  pattern3 = re.compile(r'\s{2,}')  # white space 1개로 바꾸기.

  df.title = df.title.map(lambda x: pattern3.sub(' ',
                                                    pattern2.sub('',
                                                                    pattern1.sub('', x))))
  global mecab
  mecab = Mecab()
  # mecab 토큰화
  # df['mecab'] = df.title.apply(lambda x: mecab.morphs(x))
  df['mecab'] = df.title.apply(lambda x: mecab.pos(x))
  # N(체언), V(용언), IC(감탄사)만 거르기
  for m in df.mecab.values:
    for w, t in m:
        # print(m)
        if t.startswith('N') or t.startswith("V") or t == 'IC': pass
        else: m.remove((w, t))
  
  return df

In [6]:
NAVER = data_preprocessing('./naver_all.pkl').rename(columns = {'views':'view'})
DC = data_preprocessing('./dc_all.pkl')

In [61]:
# naver = NAVER.drop(columns = ['_id', 'nsmc', 'shop'])
# DATA = NAVER[['code', 'date', 'mecab', 'view', 'positive']].append(DC[['code', 'date', 'mecab', 'view', 'positive']],
                                                                    # ignore_index = True)
DATA = NAVER.drop(columns=['_id', 'pos', 'neg']).append(DC.drop(columns = ['recommend', '_id']), ignore_index = True)
DATA[['code', 'date', 'title', 'mecab', 'view', 'positive']]

,code,date,title,mecab,view,positive
0,008770,2021-10-02 18:54:00,솔직히,[],5,0.030165
1,008770,2021-10-02 14:44:00,애 호텔주 아니라니까,"[(애, NNG), (호텔, NNG), (주, NNG), (아니, VCN)]",116,0.057826
2,008770,2021-10-02 13:04:00,솔브레인 화요일 시초에 담아라,"[(솔, NNP), (브레인, NNP), (화요일, NNG), (시초, NNG), ...",204,0.856793
3,008770,2021-10-02 12:04:00,기대가 크면 실망이 크다,"[(기대, NNG), (크, VA), (실망, NNG), (크, VA)]",272,0.011657
4,008770,2021-10-02 10:20:00,기가막히게 쌍바닥이네,"[(기, NNG), (막히, VV), (쌍, NNG), (바닥, NNG), (이, ...",209,0.022041
...,...,...,...,...,...,...
214170,041140,2022-01-03 10:33:37,저번주에 넥슨지티 만지작 햇는데,"[(저번, NNG), (주, NNG), (넥슨, NNP), (지티, NNP), (햇...",76,0.242665
214171,041140,2022-01-03 10:13:53,넥슨지티감사합니다,"[(넥슨, NNP), (지티, NNP), (감사, NNG)]",66,0.502039
214172,041140,2022-01-03 10:13:36,넥슨지티 물린거 개같이 탈출,"[(넥슨, NNP), (지티, NNP), (물린, VV+ETM), (거, NNB),...",169,0.074371
214173,041140,2022-01-02 14:19:26,넷게임즈 넥슨지티중에 뭐사야됨,"[(넷, IC), (게임즈, NNP), (넥슨, NNP), (지티, NNP), (중...",123,0.563175
214174,030350,2022-01-03 12:59:04,게임 해보신분,"[(게임, NNG), (보, VX), (분, NNB)]",46,0.441391

In [10]:
DATA.to_pickle("./DATA.pkl")

In [11]:
SENTIMENT = {}

In [12]:
for data in DATA[['mecab', 'view', 'positive']].values:
    # print(data[0])
    for w, t in data[0]: # mecab tokens
        if w in SENTIMENT.keys():
            SENTIMENT[w].append((data[1], data[2]))
        else:
            SENTIMENT[w] = [(data[1], data[2])]
    # break

In [21]:
SENTIMENT['넥슨']

[(170, 0.35563676059246063),
 (120, 0.3136954978108406),
 (803, 0.11383883841335773),
 (419, 0.13565491791814566),
 (234, 0.1426195427775383),
 (428, 0.1957569718360901),
 (113, 0.9835244119167328),
 (187, 0.08162579871714115),
 (371, 0.026991701684892178),
 (781, 0.050540365278720856),
 (111, 0.09827875532209873),
 (358, 0.4869778901338577),
 (449, 0.2586163282394409),
 (131, 0.17834227345883846),
 (455, 0.12103454349562526),
 (292, 0.047839175909757614),
 (297, 0.09750085324048996),
 (91, 0.30589422583580017),
 (133, 0.045918452204205096),
 (94, 0.5181725770235062),
 (197, 0.18071159534156322),
 (451, 0.09602127224206924),
 (327, 0.004477505222894251),
 (300, 0.24535368755459785),
 (270, 0.28139903023838997),
 (393, 0.2213432490825653),
 (259, 0.36555638164281845),
 (723, 0.07803044095635414),
 (123, 0.2631223425269127),
 (303, 0.1254799049347639),
 (280, 0.08965968899428844),
 (160, 0.5246068090200424),
 (379, 0.0753401224501431),
 (527, 0.046431371942162514),
 (448, 0.04142173007130623),
 (723, 0.08993788063526154),
 (372, 0.1620485931634903),
 (1298, 0.4246382489800453),
 (229, 0.23575100302696228),
 (333, 0.028015091083943844),
 (275, 0.4684286192059517),
 (526, 0.650320440530777),
 (429, 0.07535278610885143),
 (501, 0.038126107305288315),
 (501, 0.038126107305288315),
 (475, 0.5306864827871323),
 (672, 0.4619922861456871),
 (274, 0.0022934715379960835),
 (714, 0.38861581683158875),
 (964, 0.41108121909201145),
 (254, 0.2102763056755066),
 (231, 0.07457638531923294),
 (192, 0.47123246267437935),
 (368, 0.05017752852290869),
 (392, 0.030537276528775692),
 (351, 0.4341389387845993),
 (93, 0.004841020563617349),
 (219, 0.2570466697216034),
 (258, 0.14256766997277737),
 (126, 0.0935814322438091),
 (312, 0.42285721004009247),
 (361, 0.2115422822535038),
 (132, 0.32973553240299225),
 (250, 0.02094221580773592),
 (263, 0.8420194685459137),
 (494, 0.29129453003406525),
 (121, 0.009677231078967452),
 (184, 0.1807962879538536),
 (168, 0.006186640996020287),
 (390, 0.055053820135071874),
 (288, 0.2807881236076355),
 (448, 0.1643802858889103),
 (475, 0.8964716792106628),
 (175, 0.006035369297023863),
 (326, 0.03445080481469631),
 (191, 0.03860179090406746),
 (250, 0.032700568437576294),
 (164, 0.49757416546344757),
 (218, 0.5055726766586304),
 (189, 0.31014440953731537),
 (177, 0.37456045765429735),
 (222, 0.06385215558111668),
 (1095, 0.07959107309579849),
 (238, 0.6353533864021301),
 (188, 0.34345269203186035),
 (176, 0.046183610102161765),
 (576, 0.914344847202301),
 (387, 0.31593966390937567),
 (944, 0.1358977034687996),
 (421, 0.44443775713443756),
 (439, 0.2353799268603325),
 (524, 0.020599534269422293),
 (474, 0.2968164384365082),
 (440, 0.26545773446559906),
 (1336, 0.016824305232148618),
 (1255, 0.14837028458714485),
 (1311, 0.11408415623009205),
 (441, 0.6689966470003128),
 (453, 0.025031366851180792),
 (77, 0.8435481488704681),
 (248, 0.7326388359069824),
 (326, 0.4192264974117279),
 (272, 0.12992992997169495),
 (392, 0.2250438779592514),
 (528, 0.22788292914628983),
 (499, 0.6102521866559982),
 (338, 0.1988034900277853),
 (231, 0.15893326699733734),
 (497, 0.12683437950909138),
 (827, 0.21758685261011124),
 (606, 0.31576400995254517),
 (446, 0.062399037182331085),
 (446, 0.062399037182331085),
 (742, 0.175496282055974),
 (663, 0.4586230330169201),
 (460, 0.5659840255975723),
 (694, 0.42456214874982834),
 (153, 0.09646113007329404),
 (161, 0.14465186186134815),
 (295, 0.21890009939670563),
 (163, 0.4743187017738819),
 (515, 0.08854238130152225),
 (229, 0.09327416494488716),
 (161, 0.2710405830293894),
 (161, 0.2710405830293894),
 (117, 0.01703582680784166),
 (184, 0.08958634687587619),
 (298, 0.9456103146076202),
 (168, 0.34442104399204254),
 (410, 0.05732449796050787),
 (296, 0.25322578847408295),
 (296, 0.25322578847408295),
 (841, 0.23162656277418137),
 (258, 0.2712748199701309),
 (202, 0.12853563483804464),
 (101, 0.9152799546718597),
 (225, 0.25381218176335096),
 (91, 0.9377994239330292),
 (128, 0.5974751561880112),
 (485, 0.8429581224918365),
 (554, 0.984575480222702),
 (343, 0.3377523571252823),
 (290, 0.6291834115982056),
 (390, 0.5299155861139297),
 (128, 0.08955924771726131),
 (137, 0.1631631776690483),
 (97, 0.09072804218158126),
 (102, 0.8514164090156555),
 (70, 0.22246909141540527),
 (75, 0.7361732423305511),
 (169, 0.08008543029427528),
 (142, 0.09512707870453596),
 (221, 0.11689821630716324),
 (120, 0.07047398947179317),
 (118, 0.2880641967058182),
 (170, 0.08823665603995323),
 (110, 0.6103497296571732),
 (194, 0.03948638145811856),
 (485, 0.5439711362123489),
 (83, 0.4444242864847183),
 (66, 0.20384062826633453),
 (112, 0.30576678924262524),
 (400, 0.3323073014616966),
 (230, 0.17661111056804657),
 (77, 0.3621245175600052),
 (205, 0.18255766481161118),
 (205, 0.18255766481161118),
 (359, 0.48074039444327354),
 (362, 0.14867061376571655),
 (239, 0.8801814019680023),
 (429, 0.26373668015003204),
 (146, 0.8712926208972931),
 (185, 0.23847265541553497),
 (365, 0.30092115700244904),
 (201, 0.1265634149312973),
 (201, 0.1265634149312973),
 (112, 0.3637944497168064),
 (259, 0.4255876839160919),
 (271, 0.013711294159293175),
 (302, 0.24796701222658157),
 (123, 0.019266124232672155),
 (145, 0.10076175257563591),
 (147, 0.7297606468200684),
 (152, 0.20932261645793915),
 (188, 0.3196270987391472),
 (125, 0.36056098341941833),
 (172, 0.07614923641085625),
 (423, 0.018147073686122894),
 (162, 0.8125380277633667),
 (142, 0.01215935405343771),
 (191, 0.06217607669532299),
 (286, 0.09034460410475731),
 (76, 0.14053327217698097),
 (79, 0.2585132047533989),
 (123, 0.03521959972567856),
 (120, 0.021600046660751104),
 (130, 0.6214299649000168),
 (113, 0.09181760251522064),
 (309, 0.11747001111507416),
 (155, 0.552910566329956),
 (122, 0.004323301604017615),
 (126, 0.9310392141342163),
 (395, 0.5756290405988693),
 (598, 0.5149044692516327),
 (426, 0.02360691549256444),
 (366, 0.38259638100862503),
 (269, 0.4425983428955078),
 (152, 0.36719806492328644),
 (387, 0.6675682365894318),
 (216, 0.10890911659225821),
 (379, 0.3315120190382004),
 (329, 0.5193697139620781),
 (405, 0.28572263568639755),
 (262, 0.6707415133714676),
 (464, 0.30528467893600464),
 (259, 0.9904980659484863),
 (225, 0.7761754989624023),
 (200, 0.8584915995597839),
 (271, 0.41259393095970154),
 (633, 0.6350694298744202),
 (258, 0.01960904197767377),
 (197, 0.10245098173618317),
 (329, 0.41070240642875433),
 (329, 0.41070240642875433),
 (470, 0.15527509152889252),
 (252, 0.7784833014011383),
 (178, 0.5595461577177048),
 (256, 0.6760274916887283),
 (440, 0.43131565675139427),
 (531, 0.15003792941570282),
 (366, 0.590291328728199),
 (622, 0.4855806231498718),
 (170, 0.10256216302514076),
 (136, 0.47698377072811127),
 (126, 0.29729514569044113),
 (131, 0.5588172674179077),
 (187, 0.19222712516784668),
 (260, 0.2292887642979622),
 (328, 0.015051047143060714),
 (195, 0.5708105117082596),
 (127, 0.7017024159431458),
 (305, 0.019592342316173017),
 (79, 0.22486445307731628),
 (136, 0.006736000534147024),
 (109, 0.30100782215595245),
 (316, 0.005278797470964491),
 (137, 0.26002243906259537),
 (154, 0.06594955362379551),
 (136, 0.2975943870842457),
 (253, 0.033185625448822975),
 (96, 0.5793947130441666),
 (90, 0.5285698473453522),
 (131, 0.06200921442359686),
 (184, 0.921079009771347),
 (186, 0.5678931176662445),
 (111, 0.5384183526039124),
 (120, 0.10856104735285044),
 (138, 0.14131407137028873),
 (164, 0.04521460086107254),
 (97, 0.2949393093585968),
 (131, 0.5349738895893097),
 (233, 0.5838065668940544),
 (88, 0.22783741354942322),
 (92, 0.09178537968546152),
 (140, 0.1239622663706541),
 (113, 0.030718781054019928),
 (95, 0.3583226054906845),
 (256, 0.027886846102774143),
 (133, 0.49335007555782795),
 (155, 0.09209033474326134),
 (98, 0.7712030112743378),
 (164, 0.23342698719352484),
 (164, 0.23342698719352484),
 (84, 0.48523327708244324),
 (121, 0.018884909572079778),
 (97, 0.6413050591945648),
 (253, 0.008315023966133595),
 (190, 0.16996128857135773),
 (109, 0.6786081939935684),
 (343, 0.3325982689857483),
 (131, 0.627268597483635),
 (139, 0.3571194112300873),
 (110, 0.39024773240089417),
 (141, 0.8536571562290192),
 (136, 0.28038978576660156),
 (118, 0.4459283798933029),
 (71, 0.3257281556725502),
 (99, 0.2669979929924011),
 (133, 0.16253365576267242),
 (107, 0.7055061161518097),
 (128, 0.40280722081661224),
 (135, 0.3960110545158386),
 (135, 0.3960110545158386),
 (362, 0.16196876019239426),
 (597, 0.5954532027244568),
 (180, 0.309759171679616),
 (683, 0.41261444985866547),
 (489, 0.3072770684957504),
 (209, 0.11654013022780418),
 (293, 0.023968398571014404),
 (247, 0.2862882614135742),
 (764, 0.04002624889835715),
 (417, 0.2692139744758606),
 (754, 0.0363658657297492),
 (259, 0.1037823068909347),
 (514, 0.10789631702937186),
 (622, 0.7423371076583862),
 (249, 0.4048033505678177),
 (249, 0.4048033505678177),
 (167, 0.11990245431661606),
 (123, 0.11310960724949837),
 (123, 0.11310960724949837),
 (321, 0.40482582710683346),
 (321, 0.40482582710683346),
 (455, 0.20500362664461136),
 (292, 0.14620324224233627),
 (437, 0.3227415233850479),
 (429, 0.014991360250860453),
 (421, 0.3806914985179901),
 (595, 0.4914618246257305),
 (392, 0.08425582200288773),
 (236, 0.2651642858982086),
 (337, 0.5113804489374161),
 (213, 0.02247958118095994),
 (354, 0.29892395436763763),
 (102, 0.3169189989566803),
 (253, 0.4775203466415405),
 (148, 0.1176147535443306),
 (148, 0.1176147535443306),
 (441, 0.05477097164839506),
 (671, 0.049946846440434456),
 (225, 0.09617960825562477),
 (133, 0.9503989815711975),
 (153, 0.09358789026737213),
 (191, 0.1112383408471942),
 (141, 0.09103346988558769),
 (423, 0.49643841944634914),
 (312, 0.24724455177783966),
 (112, 0.02053994918242097),
 (109, 0.13873666152358055),
 (95, 0.13342427089810371),
 (122, 0.17525403760373592),
 (309, 0.33952902257442474),
 (325, 0.4873407930135727),
 (118, 0.03739745635539293),
 (155, 0.3575249630957842),
 (127, 0.4955336004495621),
 (476, 0.01334376772865653),
 (440, 0.2860244959592819),
 (590, 0.15452514588832855),
 (142, 0.6120925694704056),
 (174, 0.09667379036545753),
 (339, 0.25959284603595734),
 (117, 0.3460891842842102),
 (586, 0.0030936847906559706),
 (182, 0.8842253088951111),
 (86, 0.19310612231492996),
 (521, 0.24629323184490204),
 (561, 0.22340980917215347),
 (561, 0.22340980917215347),
 (158, 0.43433176912367344),
 (67, 0.37763530761003494),
 (85, 0.22170614451169968),
 (243, 0.30269452929496765),
 (90, 0.3417707234621048),
 (198, 0.560079500079155),
 (97, 0.9124712646007538),
 (229, 0.16992445290088654),
 (272, 0.4533701501786709),
 (546, 0.5297904163599014),
 (546, 0.5297904163599014),
 (766, 0.49542687833309174),
 (444, 0.19722427241504192),
 (161, 0.30213678628206253),
 (109, 0.049207812175154686),
 (97, 0.20443083881400526),
 (148, 0.34766416996717453),
 (148, 0.34766416996717453),
 (175, 0.1264476142823696),
 (175, 0.1264476142823696),
 (116, 0.34138656966388226),
 (93, 0.0095358548569493),
 (94, 0.15761052281595767),
 (333, 0.29372098855674267),
 (181, 0.20500362664461136),
 (272, 0.029167878907173872),
 (193, 0.4815385490655899),
 (413, 0.2973714116960764),
 (192, 0.4366007596254349),
 (117, 0.02055379096418619),
 (358, 0.603951945900917),
 (208, 0.2578456252813339),
 (380, 0.6527580469846725),
 (380, 0.6527580469846725),
 (193, 0.08755293115973473),
 (127, 0.9720330834388733),
 (240, 0.034719277173280716),
 (93, 0.3483118414878845),
 (164, 0.3429913781583309),
 (548, 0.21671994775533676),
 (364, 0.11826079711318016),
 (496, 0.3856164664030075),
 (595, 0.15285752713680267),
 (595, 0.15285752713680267),
 (220, 0.6385835260152817),
 (226, 0.21390142291784286),
 (165, 0.015957499388605356),
 (165, 0.015957499388605356),
 (134, 0.8049943149089813),
 (234, 0.5183633547276258),
 (108, 0.06745428033173084),
 (229, 0.07697664201259613),
 (1008, 0.03814567066729069),
 (233, 0.9681331813335419),
 (582, 0.23946396261453629),
 (460, 0.27523522824048996),
 (317, 0.5450715571641922),
 (283, 0.20334075763821602),
 (370, 0.6764664053916931),
 (412, 0.501644030213356),
 (867, 0.7143298983573914),
 (847, 0.17827249318361282),
 (397, 0.19549804739654064),
 (594, 0.3826720267534256),
 (339, 0.45293348655104637),
 (407, 0.9936292171478271),
 (264, 0.21010880172252655),
 (223, 0.3060818687081337),
 (333, 0.17632398195564747),
 (333, 0.17632398195564747),
 (396, 0.15818535536527634),
 (145, 0.98036327958107),
 (247, 0.025074019096791744),
 (279, 0.7228384613990784),
 (137, 0.7379010021686554),
 (204, 0.38316288962960243),
 (173, 0.4994458295404911),
 (165, 0.4529251493513584),
 (203, 0.1257820539176464),
 (86, 0.6337955892086029),
 (156, 0.4855315685272217),
 (149, 0.46139392256736755),
 (113, 0.02414498245343566),
 (99, 0.22069534193724394),
 (132, 0.03848422650480643),
 (641, 0.24238691106438637),
 (146, 0.021533803548663855),
 (106, 0.42676883935928345),
 (368, 0.3650635629892349),
 (198, 0.6720977425575256),
 (86, 0.16834643855690956),
 (618, 0.7168034017086029),
 (383, 0.3731844872236252),
 (583, 0.6452066451311111),
 (346, 0.5198011696338654),
 (191, 0.36924563348293304),
 (177, 0.5495432466268539),
 (180, 0.3763958439230919),
 (205, 0.9826192259788513),
 (431, 0.3488494623452425),
 (175, 0.5853575468063354),
 (130, 0.4109722375869751),
 (249, 0.1986812688410282),
 (267, 0.528069257736206),
 (272, 0.11707801464945078),
 (680, 0.038056427612900734),
 (375, 0.5330838859081268),
 (292, 0.1632819827646017),
 (230, 0.12137367948889732),
 (516, 0.29516930878162384),
 (238, 0.4761188179254532),
 (366, 0.7085869014263153),
 (635, 0.2656022123992443),
 (332, 0.33183053135871887),
 (368, 0.005911244545131922),
 (97, 0.6988393813371658),
 (157, 0.9528129994869232),
 (337, 0.12758612632751465),
 (181, 0.2213432490825653),
 (230, 0.597420334815979),
 (127, 0.19490462448447943),
 (93, 0.21936819702386856),
 (386, 0.020555530674755573),
 (75, 0.3428458422422409),
 (206, 0.16040638834238052),
 (692, 0.2982621043920517),
 (185, 0.17487460374832153),
 (159, 0.18457038514316082),
 (715, 0.08225060999393463),
 (210, 0.4229956269264221),
 (139, 0.5445019230246544),
 (245, 0.2737874835729599),
 (157, 0.45609988272190094),
 (868, 0.32358741760253906),
 (185, 0.0170355720911175),
 (211, 0.09123658761382103),
 (388, 0.2267574816942215),
 (332, 0.1683201752603054),
 (284, 0.13360824808478355),
 (148, 0.41287246346473694),
 (173, 0.28967592120170593),
 (88, 0.03351805033162236),
 (280, 0.14197588339447975),
 (116, 0.9595366418361664),
 (216, 0.40290165692567825),
 (278, 0.28174034506082535),
 (603, 0.23131202533841133),
 (254, 0.0372601505368948),
 (242, 0.09483148902654648),
 (233, 0.21438714116811752),
 (335, 0.019123326987028122),
 (108, 0.9253156185150146),
 (157, 0.2599068805575371),
 (164, 0.21052386611700058),
 (164, 0.21052386611700058),
 (185, 0.3972872346639633),
 (210, 0.5448476374149323),
 (119, 0.5277647972106934),
 (214, 0.9045103788375854),
 (381, 0.2601897865533829),
 (494, 0.06668701395392418),
 (2204, 0.099537692964077),
 (834, 0.3026876151561737),
 (731, 0.34255358576774597),
 (431, 0.24088181927800179),
 (405, 0.10628265934064984),
 (335, 0.7191839814186096),
 (415, 0.9652232825756073),
 (323, 0.008514179673511535),
 (120, 0.319091378711164),
 (156, 0.4642918258905411),
 (420, 0.29732209630310535),
 (176, 0.4094616025686264),
 (300, 0.7143300771713257),
 (193, 0.1912333220243454),
 (193, 0.1912333220243454),
 (67, 0.07345844805240631),
 (49, 0.44802387058734894),
 (85, 0.013988609716761857),
 (64, 0.009094320819713175),
 (136, 0.44350938498973846),
 (125, 0.04302859783638269),
 (167, 0.1419693175703287),
 (135, 0.23907063901424408),
 (76, 0.8124878108501434),
 (114, 0.257869764463976),
 (159, 0.47717127948999405),
 (56, 0.640682727098465),
 (43, 0.7596997916698456),
 (57, 0.39957886934280396),
 (121, 0.5429096147418022),
 (103, 0.019810648635029793),
 (179, 0.17516890913248062),
 (179, 0.17516890913248062),
 (171, 0.6385896503925323),
 (48, 0.1062803864479065),
 (153, 0.13634349219501019),
 (69, 0.2692331522703171),
 (34, 0.3883889466524124),
 (72, 0.5253855139017105),
 (73, 0.06789356167428195),
 (170, 0.07534279022365808),
 (73, 0.06836903281509876),
 (185, 0.5397889763116837),
 (45, 0.4445313513278961),
 (120, 0.006288585253059864),
 (121, 0.28343452559784055),
 (83, 0.1431373730301857),
 (68, 0.1738421763293445),
 (102, 0.5064498484134674),
 (102, 0.5064498484134674),
 (85, 0.4953906908631325),
 (193, 0.1912333220243454),
 (135, 0.02045929862651974),
 (52, 0.9212361574172974),
 (197, 0.2213432490825653),
 (121, 0.040707322768867016),
 (52, 0.25938287004828453),
 (272, 0.24817094951868057),
 (272, 0.24817094951868057),
 (209, 0.02036710688844323),
 (79, 0.6338618695735931),
 (188, 0.12247204221785069),
 (151, 0.1750757023692131),
 (114, 0.017915100324898958),
 (151, 0.09595194272696972),
 (65, 0.02179575082845986),
 (90, 0.03218178730458021),
 (216, 0.08904707874171436),
 (142, 0.48517847061157227),
 (148, 0.022547960747033358),
 (136, 0.7230733931064606),
 (98, 0.6189150512218475),
 (81, 0.5081812515854836),
 (618, 0.4910363107919693),
 (231, 0.6138405650854111),
 (208, 0.2400751430541277),
 (289, 0.24349230527877808),
 (250, 0.37426680652424693),
 (174, 0.4950049426406622),
 (133, 0.20439016819000244),
 (133, 0.20439016819000244),
 (185, 0.5187740288674831),
 (110, 0.35402547754347324),
 (146, 0.8687469959259033),
 (66, 0.2129358165548183),
 (69, 0.307598480489105),
 (302, 0.7977406680583954),
 (147, 0.017254354374017566),
 (144, 0.028058758936822414),
 (103, 0.040743689984083176),
 (51, 0.2547190859913826),
 (88, 0.22390728257596493),
 (86, 0.07045829575508833),
 (176, 0.20869624614715576),
 (246, 0.2841942198574543),
 (80, 0.09256171807646751),
 (45, 0.032865263521671295),
 (145, 0.5518916696310043),
 (81, 0.810992568731308),
 (267, 0.7986291348934174),
 (76, 0.30487775802612305),
 (64, 0.5153176076710224),
 (176, 0.4758613258600235),
 (81, 0.842219352722168),
 (113, 0.5057604908943176),
 (193, 0.05699286446906626),
 (76, 0.24266507476568222),
 (66, 0.50203937292099),
 (169, 0.07437133695930243),
 (123, 0.5631746351718903)]

In [22]:
for key, values in SENTIMENT.items():
    one_view = 0
    one_positive = 0
    for v in values: one_view += v[0]
    for v in values: one_positive += (v[0] / one_view) * v[1]

    SENTIMENT[key] = one_positive

조회수 가중치(token별)  
  
    
$\frac{v_1}{v_1 + ... + v_n} * positive_1 + \frac{v_2}{v_1 + ... + v_n} * positive_2 + ... + \frac{v_n}{v_1 + ... + v_n} * positive_n = POSITIVE_{token} $

In [302]:
pd.DataFrame.from_dict(SENTIMENT, orient= 'index').reset_index().rename(columns = {'index': 'token', 0:'positive'})

# SENTIMENT

      token  positive
0         애  0.261986
1        호텔  0.336487
2         주  0.313494
3        아니  0.154926
4         솔  0.292908
...     ...       ...
31332    양기  0.240577
31333   면도기  0.077069
31334    세척  0.077069
31335    악한  0.294283
31336    중퇴  0.981619

[31337 rows x 2 columns]

In [24]:
# json.dump(SENTIMENT, open('./SENTIMENT_ver1.0.json', 'w'), ensure_ascii=False)
pickle.dump(SENTIMENT, open('SENTIMENT_ver1.0.pkl', 'wb'))

In [25]:
# json.load(open('./SENTIMENT_ver1.0.json', 'r'))
SENTIMENT = pickle.load(open('SENTIMENT_ver1.0.pkl', 'rb'))
# SENTIMENT

# STOCK_PRICE 5분단위 & time_mapping

In [26]:
import sqlite3
conn = sqlite3.connect('/Users/yejin/Desktop/Career/Projects/AYOA/Stock.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM stock")
STOCK = pd.DataFrame(columns = ['pk', 'code', 'date', 'time', 'price'], data = cursor.fetchall()).drop(columns = 'pk')

In [27]:
STOCK.head(10)

     code      date   time    price
0  000660  20210820  09:00  103,000
1  000660  20210820  09:01  103,000
2  000660  20210820  09:02  103,000
3  000660  20210820  09:03  103,500
4  000660  20210820  09:04  103,500
5  000660  20210820  09:05  103,000
6  000660  20210820  09:06  103,500
7  000660  20210820  09:07  103,500
8  000660  20210820  09:08  103,000
9  000660  20210820  09:09  103,500

In [28]:
STOCK_PRICE = pd.DataFrame(columns = ['code', 'date', 'time', 'price'])

for i in tqdm(range(len(STOCK))):
    if int(STOCK.time[i][-2:]) % 5 == 0:
        STOCK_PRICE = STOCK_PRICE.append(STOCK.iloc[i], ignore_index=True)
del STOCK

100%|██████████| 527190/527190 [08:21<00:00, 1050.31it/s]

In [29]:
STOCK_PRICE

          code      date   time    price
0       000660  20210820  09:00  103,000
1       000660  20210820  09:05  103,000
2       000660  20210820  09:10  102,500
3       000660  20210820  09:15  102,500
4       000660  20210820  09:20  102,000
...        ...       ...    ...      ...
108347  230980  20211108  09:05    1,905
108348  230980  20211108  09:00    1,890
108349  230980  20211108  09:10    1,900
108350  230980  20211108  09:05    1,905
108351  230980  20211108  09:00    1,890

[108352 rows x 4 columns]

In [30]:
STOCK_PRICE.to_pickle('./STOCK.pkl')

In [143]:
STOCK_PRICE = pd.read_pickle('./STOCK.pkl')
STOCK_PRICE.date = STOCK_PRICE.date + " " + STOCK_PRICE.time
STOCK_PRICE.date = STOCK_PRICE.date.astype('datetime64')
STOCK_PRICE.price = STOCK_PRICE.price.str.replace(',', "").astype('int')

for i in tqdm(range(len(STOCK_PRICE))):
    for k in range(86):
        if STOCK_PRICE.date[i].time() == TIME_MAPPING[k][0].time():
            STOCK_PRICE.loc[i, 'time_map'] = k
            break
STOCK_PRICE.to_pickle('./STOCK_PRICE_map.pkl')

100%|██████████| 108352/108352 [00:57<00:00, 1869.88it/s]

In [ ]:
del STOCK

# mecab_데이터 time_mapping

In [144]:
DATA = pd.read_pickle('./DATA.pkl')
# DATA

In [33]:
DATA.head()

,code,date,title,view,nsmc,shop,positive,mecab
0,008770,2021-10-02 18:54:00,솔직히,5,0.039333,0.020997,0.030165,[]
1,008770,2021-10-02 14:44:00,애 호텔주 아니라니까,116,0.065854,0.049799,0.057826,"[(애, NNG), (호텔, NNG), (주, NNG), (아니, VCN)]"
2,008770,2021-10-02 13:04:00,솔브레인 화요일 시초에 담아라,204,0.891313,0.822273,0.856793,"[(솔, NNP), (브레인, NNP), (화요일, NNG), (시초, NNG), ..."
3,008770,2021-10-02 12:04:00,기대가 크면 실망이 크다,272,0.010065,0.013250,0.011657,"[(기대, NNG), (크, VA), (실망, NNG), (크, VA)]"
4,008770,2021-10-02 10:20:00,기가막히게 쌍바닥이네,209,0.011541,0.032541,0.022041,"[(기, NNG), (막히, VV), (쌍, NNG), (바닥, NNG), (이, ..."

In [145]:
DATA['time_map'] = 0 # 기본 0
TIME_MAPPING[85] = (datetime.datetime(1, 1, 1, 16, 0), ) # for loop

for i in tqdm(range(len(DATA))):
    for k in range(1,85):
        if DATA.date[i].time() >= TIME_MAPPING[k][0].time() and DATA.date[i].time() < TIME_MAPPING[k+1][0].time():
            DATA.loc[i, 'time_map'] = k
            break
        # else: DATA.loc[i, 'time_map'] = 0

100%|██████████| 214175/214175 [03:28<00:00, 1026.80it/s]

In [146]:
DATA.to_pickle("./DATA_map.pkl")

In [147]:
# DATA.time_map.astype('int16')
DATA = pd.read_pickle('./DATA_map.pkl')
DATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214175 entries, 0 to 214174
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   code      214175 non-null  object
 1   date      214175 non-null  datetime64[ns]
 2   title     214175 non-null  object
 3   view      214175 non-null  int16
 4   nsmc      214175 non-null  float64
 5   shop      214175 non-null  float64
 6   positive  214175 non-null  float64
 7   mecab     214175 non-null  object
 8   time_map  214175 non-null  int64
dtypes: datetime64[ns](1), float64(3), int16(1), int64(1), object(3)
memory usage: 13.5+ MB

In [148]:
# NEW_DATA = DATA[DATA.time_map != 0]
# NEW_DATA = DATA[DATA.time_map.notnull()].reset_index(drop = True)
# 9시에 8:55~8:59 데이터 가져오니까
# NEW_DATA.time_map += 1
del DATA

# 주가 등락 적용 업데이트
- 10:03 게시글 -> 긍정확률에 수식 적용하려면 % 올랐는지가 있어야 하지 -> 10시 5분에 비해 10:10분 기반으로 올랐는지 내렸는지 학습
- 18:50 게시글 -> 9:00에 비해 9:05가 올랐는지, 09:05 기반으로 학습
- pdf -> 하루종일 영향을 준다. (안 올라오는 경우가 더 많음. 올라올 때만 추가적인 정보로) +a


### 등락 수식 (감성사전 업데이트 식)
- n% 변화, $x_t = t시점의 단어 감성점수$
- 시간별로 업데이트
- known에 대해서 점수 업데이트 > 문장의 감성점수를 구할 수 있음(평균) > unknown initialize
    - known 부정/긍정 :  $x_{t+1} = x_t + n * x_t * max(해당 분위 단어들의 감성점수)$ > $min(max(x_{t+1}, 0), 1)$ > 짜잔

ex. 삼성에 대해 100개 리뷰(9시 0분 ~ 9시 4분)  
-> 100개 리뷰 전체 word counting > 30% 30% 40% 나누고 > 해당 분위 감성점수를 더 곱해줌(위 수식)  
-> a 50번 b 2번의 경우

---------
### 종목별 확률 (inference 식) ; 예측할 때
- 리뷰의 감성점수 도출: 토큰화된 리뷰의 감성 점수 평균 = 한 리뷰의 감성 점수
- 가중치 :  
- pdf 점수랑 합치는 수식 : 알파 = 0.3 예상

## 기간 맞추기

In [149]:
OPINION = pd.read_pickle("./DATA_map.pkl")
STOCK_PRICE = pd.read_pickle('./STOCK_PRICE_map.pkl')

In [151]:
STOCK_PRICE['date_time'] = STOCK_PRICE.date
STOCK_PRICE['time'] = STOCK_PRICE.date.apply(lambda x: x.time())
STOCK_PRICE.date = STOCK_PRICE.date.apply(lambda x: x.date()) 

OPINION['date_time'] = OPINION.date
OPINION['time'] = OPINION.date.apply(lambda x: x.time())
OPINION['date'] = OPINION.date.apply(lambda x: x.date())

In [205]:
DATA = OPINION.drop(columns = ['title', 'nsmc', 'shop', 'time'])
DATA.time_map += 1
# 10시 3분 게시글? 10시 5분 주가에 영향
# 장 마감 이후 게시글? 14시 이후는 다음날 9시, 08시 이전은 당일 9시
for i in tqdm(range(len(DATA))):
    if DATA.date_time[i].time() >= datetime.time(16, 0):
        DATA.loc[i, 'price_time'] = datetime.datetime.combine((DATA.date_time[i] + datetime.timedelta(days = 1)).date(),datetime.time(9,0))
    elif DATA.date_time[i].time() < datetime.time(9, 0):
       DATA.loc[i, 'price_time'] = datetime.datetime.combine(DATA.date_time[i].date(), datetime.time(9,0))
    else:
        DATA.loc[i, 'price_time'] = datetime.datetime.combine(DATA.date_time[i].date(), TIME_MAPPING[DATA.time_map[i]][0].time())
DATA

100%|██████████| 214175/214175 [05:41<00:00, 626.58it/s]

,code,date,view,positive,mecab,time_map,date_time,price_time
0,008770,2021-10-02,5,0.030165,[],1,2021-10-02 18:54:00,2021-10-03 09:00:00
1,008770,2021-10-02,116,0.057826,"[(애, NNG), (호텔, NNG), (주, NNG), (아니, VCN)]",70,2021-10-02 14:44:00,2021-10-02 14:45:00
2,008770,2021-10-02,204,0.856793,"[(솔, NNP), (브레인, NNP), (화요일, NNG), (시초, NNG), ...",50,2021-10-02 13:04:00,2021-10-02 13:05:00
3,008770,2021-10-02,272,0.011657,"[(기대, NNG), (크, VA), (실망, NNG), (크, VA)]",38,2021-10-02 12:04:00,2021-10-02 12:05:00
4,008770,2021-10-02,209,0.022041,"[(기, NNG), (막히, VV), (쌍, NNG), (바닥, NNG), (이, ...",18,2021-10-02 10:20:00,2021-10-02 10:25:00
...,...,...,...,...,...,...,...,...
214170,041140,2022-01-03,76,0.242665,"[(저번, NNG), (주, NNG), (넥슨, NNP), (지티, NNP), (햇...",20,2022-01-03 10:33:37,2022-01-03 10:35:00
214171,041140,2022-01-03,66,0.502039,"[(넥슨, NNP), (지티, NNP), (감사, NNG)]",16,2022-01-03 10:13:53,2022-01-03 10:15:00
214172,041140,2022-01-03,169,0.074371,"[(넥슨, NNP), (지티, NNP), (물린, VV+ETM), (거, NNB),...",16,2022-01-03 10:13:36,2022-01-03 10:15:00
214173,041140,2022-01-02,123,0.563175,"[(넷, IC), (게임즈, NNP), (넥슨, NNP), (지티, NNP), (중...",65,2022-01-02 14:19:26,2022-01-02 14:20:00
214174,030350,2022-01-03,46,0.441391,"[(게임, NNG), (보, VX), (분, NNB)]",49,2022-01-03 12:59:04,2022-01-03 13:00:00

In [206]:
STOCK_PRICE

          code        date      time   price  time_map           date_time
0       000660  2021-08-20  09:00:00  103000       1.0 2021-08-20 09:00:00
1       000660  2021-08-20  09:05:00  103000       2.0 2021-08-20 09:05:00
2       000660  2021-08-20  09:10:00  102500       3.0 2021-08-20 09:10:00
3       000660  2021-08-20  09:15:00  102500       4.0 2021-08-20 09:15:00
4       000660  2021-08-20  09:20:00  102000       5.0 2021-08-20 09:20:00
...        ...         ...       ...     ...       ...                 ...
108347  230980  2021-11-08  09:05:00    1905       2.0 2021-11-08 09:05:00
108348  230980  2021-11-08  09:00:00    1890       1.0 2021-11-08 09:00:00
108349  230980  2021-11-08  09:10:00    1900       3.0 2021-11-08 09:10:00
108350  230980  2021-11-08  09:05:00    1905       2.0 2021-11-08 09:05:00
108351  230980  2021-11-08  09:00:00    1890       1.0 2021-11-08 09:00:00

[108352 rows x 6 columns]

In [207]:
DATA = DATA.drop(columns = ['date', 'time_map']).merge(STOCK_PRICE.drop(columns = ['date', 'time_map', 'time']).rename(columns = {"date_time": "price_time"}), on = ['code', 'price_time'])

# time_pred = 예측할 가격 시간 (15:10), price_pred = 예측할 가격 >  change : price & price_prd pct_change()
DATA['time_pred'] = DATA.price_time + datetime.timedelta(minutes = 5)
DATA = DATA.merge(STOCK_PRICE[['code', 'date_time', 'price']].rename(columns = {"date_time": 'time_pred'}), 
        on = ['code', 'time_pred']).rename(columns = {'price_x' : 'price', 'price_y': 'price_pred'})


DATA

,code,view,positive,mecab,date_time,price_time,price,time_pred,price_pred
0,008770,795,0.286026,"[(호텔신라, NNP), (오늘, MAG), (빠지, VV), (거, NNB), (...",2021-10-01 15:00:00,2021-10-01 15:05:00,85000,2021-10-01 15:10:00,84800
1,008770,442,0.619571,"[(담, VV), (담, VV)]",2021-10-01 14:59:00,2021-10-01 15:00:00,85000,2021-10-01 15:05:00,85000
2,008770,267,0.018406,"[(뭐, NP), (야, VCP+EF)]",2021-10-01 13:41:00,2021-10-01 13:45:00,84600,2021-10-01 13:50:00,84600
3,008770,321,0.186608,"[(오늘, NNG), (추매, NNG)]",2021-10-01 13:11:00,2021-10-01 13:15:00,85100,2021-10-01 13:20:00,85100
4,008770,224,0.075681,"[(에라, IC), (모텔, NNG), (도, JX), (못한, VX+ETM), (...",2021-10-01 12:56:00,2021-10-01 13:00:00,85200,2021-10-01 13:05:00,85200
...,...,...,...,...,...,...,...,...,...
124124,069410,166,0.011228,"[(메타, NNG), (버스, NNG), (사기, VV)]",2021-09-14 17:53:32,2021-09-15 09:00:00,11300,2021-09-15 09:05:00,11150
124125,069410,166,0.011228,"[(메타, NNG), (버스, NNG), (사기, VV)]",2021-09-14 17:53:32,2021-09-15 09:00:00,11300,2021-09-15 09:05:00,11150
124126,069410,166,0.011228,"[(메타, NNG), (버스, NNG), (사기, VV)]",2021-09-14 17:53:32,2021-09-15 09:00:00,11300,2021-09-15 09:05:00,11150
124127,069410,166,0.011228,"[(메타, NNG), (버스, NNG), (사기, VV)]",2021-09-14 17:53:32,2021-09-15 09:00:00,11300,2021-09-15 09:05:00,11150
124128,069410,58,0.495006,"[(엔, NNG), (텔, NNG), (가, VV+EC), (주, VX)]",2021-08-25 12:28:42,2021-08-25 12:30:00,11250,2021-08-25 12:35:00,11150

In [208]:
DATA['change'] = (DATA['price_pred'] - DATA.price) / DATA.price_pred * 100
DATA

,code,view,positive,mecab,date_time,price_time,price,time_pred,price_pred,change
0,008770,795,0.286026,"[(호텔신라, NNP), (오늘, MAG), (빠지, VV), (거, NNB), (...",2021-10-01 15:00:00,2021-10-01 15:05:00,85000,2021-10-01 15:10:00,84800,-0.235849
1,008770,442,0.619571,"[(담, VV), (담, VV)]",2021-10-01 14:59:00,2021-10-01 15:00:00,85000,2021-10-01 15:05:00,85000,0.000000
2,008770,267,0.018406,"[(뭐, NP), (야, VCP+EF)]",2021-10-01 13:41:00,2021-10-01 13:45:00,84600,2021-10-01 13:50:00,84600,0.000000
3,008770,321,0.186608,"[(오늘, NNG), (추매, NNG)]",2021-10-01 13:11:00,2021-10-01 13:15:00,85100,2021-10-01 13:20:00,85100,0.000000
4,008770,224,0.075681,"[(에라, IC), (모텔, NNG), (도, JX), (못한, VX+ETM), (...",2021-10-01 12:56:00,2021-10-01 13:00:00,85200,2021-10-01 13:05:00,85200,0.000000
...,...,...,...,...,...,...,...,...,...,...
124124,069410,166,0.011228,"[(메타, NNG), (버스, NNG), (사기, VV)]",2021-09-14 17:53:32,2021-09-15 09:00:00,11300,2021-09-15 09:05:00,11150,-1.345291
124125,069410,166,0.011228,"[(메타, NNG), (버스, NNG), (사기, VV)]",2021-09-14 17:53:32,2021-09-15 09:00:00,11300,2021-09-15 09:05:00,11150,-1.345291
124126,069410,166,0.011228,"[(메타, NNG), (버스, NNG), (사기, VV)]",2021-09-14 17:53:32,2021-09-15 09:00:00,11300,2021-09-15 09:05:00,11150,-1.345291
124127,069410,166,0.011228,"[(메타, NNG), (버스, NNG), (사기, VV)]",2021-09-14 17:53:32,2021-09-15 09:00:00,11300,2021-09-15 09:05:00,11150,-1.345291
124128,069410,58,0.495006,"[(엔, NNG), (텔, NNG), (가, VV+EC), (주, VX)]",2021-08-25 12:28:42,2021-08-25 12:30:00,11250,2021-08-25 12:35:00,11150,-0.896861

In [218]:
data = DATA.copy()
data.mecab = data.mecab.astype("str")
dup_idx = data[data.duplicated()].index

In [220]:
DATA = DATA.drop(index = dup_idx).reset_index(drop = True)

In [221]:
DATA

,code,view,positive,mecab,date_time,price_time,price,time_pred,price_pred,change
0,008770,795,0.286026,"[(호텔신라, NNP), (오늘, MAG), (빠지, VV), (거, NNB), (...",2021-10-01 15:00:00,2021-10-01 15:05:00,85000,2021-10-01 15:10:00,84800,-0.235849
1,008770,442,0.619571,"[(담, VV), (담, VV)]",2021-10-01 14:59:00,2021-10-01 15:00:00,85000,2021-10-01 15:05:00,85000,0.000000
2,008770,267,0.018406,"[(뭐, NP), (야, VCP+EF)]",2021-10-01 13:41:00,2021-10-01 13:45:00,84600,2021-10-01 13:50:00,84600,0.000000
3,008770,321,0.186608,"[(오늘, NNG), (추매, NNG)]",2021-10-01 13:11:00,2021-10-01 13:15:00,85100,2021-10-01 13:20:00,85100,0.000000
4,008770,224,0.075681,"[(에라, IC), (모텔, NNG), (도, JX), (못한, VX+ETM), (...",2021-10-01 12:56:00,2021-10-01 13:00:00,85200,2021-10-01 13:05:00,85200,0.000000
...,...,...,...,...,...,...,...,...,...,...
86482,030350,43,0.139713,"[(드래곤, NNP), (플라이, NNP), (광고, NNG), (번, NNBC),...",2021-08-31 14:53:03,2021-08-31 14:55:00,2810,2021-08-31 15:00:00,2625,-7.047619
86483,030350,80,0.769799,"[(드래곤, NNP), (플라이, NNP), (타, VV), (이거, NP), (더...",2021-08-25 10:25:22,2021-08-25 10:30:00,2590,2021-08-25 10:35:00,2595,0.192678
86484,069410,324,0.315969,"[(쇼박스, NNP), (한, XSA+ETM), (나라, NNG), (엔, NNG)...",2021-09-27 01:26:49,2021-09-27 09:00:00,10600,2021-09-27 09:05:00,10500,-0.952381
86485,069410,166,0.011228,"[(메타, NNG), (버스, NNG), (사기, VV)]",2021-09-14 17:53:32,2021-09-15 09:00:00,11300,2021-09-15 09:05:00,11150,-1.345291
86486,069410,58,0.495006,"[(엔, NNG), (텔, NNG), (가, VV+EC), (주, VX)]",2021-08-25 12:28:42,2021-08-25 12:30:00,11250,2021-08-25 12:35:00,11150,-0.896861

In [222]:
DATA.to_pickle("./DATA_change.pkl")

## 등락수식 적용

In [ ]:
DATA = pd.read_pickle('./DATA_change.pkl')

In [224]:
# 종목별 분위 나누기
TICKER = DATA.code.unique()
# TICKER

array(['008770', '336260', '009830', '086520', '011930', '018000',
       '035720', '035420', '036570', '018260', '005930', '000660',
       '011790', '014680', '000990', '023530', '004170', '028260',
       '026960', '105560', '055550', '316140', '086790', '041140',
       '089890', '030350', '230980', '071050', '047080', '069410'],
      dtype=object)

In [271]:
from collections import Counter
# wc를 map-reduce로? 과한듯
for i in tqdm(range(len(DATA))):
    DATA.mecab[i] = [(w, DATA.change[i]) for w, _ in DATA.mecab[i]]

100%|██████████| 86487/86487 [01:09<00:00, 1243.35it/s]

In [ ]:
SENTIMENT = pickle.load(open('SENTIMENT_ver1.0.pkl', 'rb'))

In [340]:
# 5분 단위 투자자 반응
one_term = DATA[DATA.price_time == DATA.price_time.unique()[0]]
for t in TICKER:
# t = TICKER[0]
tokens = one_term[one_term.code == t].mecab.sum()
# if len(tokens) == 0 : break
word_count = Counter([i[0] for i in tokens]).most_common()
# 분위 나누기
r1 = [i[0] for i in word_count[:int(len(word_count) * .3)]]
r2 = [i[0] for i in word_count[int(len(word_count) * .3):int(len(word_count) * .6)]]
r3 = [i[0] for i in word_count[int(len(word_count) * .6):]]
if len(r1) == 0: max_r1 = 0
else: max_r1 = max([SENTIMENT[i] for i in r1])
if len(r2) == 0: max_r2 = 0
else: max_r2 = max([SENTIMENT[i] for i in r2])
if len(r3) == 0: max_r1 = 0
else: max_r3 = max([SENTIMENT[i] for i in r3])

# 단어의 여러 change 값 평균 내기
token_df = pd.DataFrame(tokens, columns = ['token', 'change'])
token_df = token_df.groupby('token').mean()['change']

# 감성사전 업데이트
for one in r1: SENTIMENT[one] = min(max(SENTIMENT[one] * (1 + max_r1 * token_df[one]), 0), 1)
for one in r2: SENTIMENT[one] = min(max(SENTIMENT[one] * (1 + max_r2 * token_df[one]), 0), 1)
for one in r3: SENTIMENT[one] = min(max(SENTIMENT[one] * (1 + max_r3 * token_df[one]), 0), 1)

In [341]:
one = r1[0]
SENTIMENT[one] * (1 + max_r1 * token_df[one])

0.31109622240070556

In [342]:
SENTIMENT[one]

0.33804825625916335

In [339]:
token_df =

         change
token
거     -0.235849
보     -0.235849
빠지    -0.235849
오늘    -0.235849
호텔신라  -0.235849